body { 
  background: rgb(0,0,0);
  background:
  radial-gradient(ellipse at top, #e6a7a7, transparent),
  radial-gradient(ellipse at bottom, #89a970cd, transparent);
  font-family: "Gill Sans", sans-serif;
  text-align: center;
  margin-top: 40px;
}

#todo-container {
  background: rgba(203, 203, 203, 0.346);
  width: 400px;
  margin: 0 auto;
  border: 2px solid #fefefe00;
  padding: 20px;
  color: white;
  border-radius: 15px;
}

#header {
  margin: 5px;
  font-size: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 50px; 
}

#input-box {
  width: 200px;
  padding: 10px;
  border: 1px solid #fffdfd00;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 20px;
}

#input-button {
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c6d4b9;
}

#input-button:hover {
  background-color: #c6d4b9;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  text-align:left;

}

li {
border: 1px solid rgba(208, 160, 160, 0.91);
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
margin-top: 10px;
}

.edit-btn, .delete-btn {
  float: right;
  color:rgb(98, 59, 67);
  cursor: pointer;
  margin: 3px 5px;
  border: none;
  padding: 3px 5px;
  background: none;
} 

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}